<section>
  <h2>Search Associate</h2>
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <div class="">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" id="name" matInput formControlName="name" [errorStateMatcher]="matcher"
          placeholder="Associate Name">
        <mat-error *ngIf="searchForm.get('name')?.hasError('minLength')">
          Name should be minimum 1 character.
        </mat-error>
        <mat-error *ngIf="searchForm.get('name')?.hasError('maxLength')">
          Name length should not be greater than 30.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field appearance="fill">
        <mat-label>Associate ID</mat-label>
        <input type="text" id="associateId" matInput formControlName="associateId" [errorStateMatcher]="matcher"
          placeholder="Ex. CTS0001">
        <mat-error *ngIf="searchForm.get('associateId')?.hasError('maxLength')">
          Associate ID length should not be greater than 30.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field appearance="fill" *ngIf="skillOptions$ | async as skillOptions">
        <mat-label>Skill</mat-label>
        <mat-select formControlName="skill" id="skillId">
          <mat-option *ngFor="let skill of skillOptions" [value]="skill.skillId">
            {{skill.skillName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-button type="submit" class="btn btn-primary" id="searchBtn">Search</button>
  </form>
</section>
